<h1> Summary of Your Purchase with Order ID: <%= @oid %> </h1>

<div class="row">
    <div class="col-xs-3">
      <h2>Product</h2>
    </div>
    <div class="col-xs-3">
      <h2>Quantity</h2>
    </div>
</div>

<!-- <%= @orderitemsall[0] %> -->

<% @orderitemsall.each do |row1| %>
    <% if row1[0] == @oid.to_i %>
      <div class="row">
      <div class="well">

      <div class="row">

        <div class="col-xs-3">
          <%= @productsandname[row1[1]] %>
        </div>

        <div class="col-xs-3">
          <%= row1[2] %>
        </div>

      </div>
    </div>
    </div>
  <% end %>
<% end %>
