<div class="jumbo">
	<h1><p style="text-align: center;"><strong style="font-size: 325%;">
Datamie</p></h1>
 <p><p style="text-align: center;"><strong style="font-size: 55%;">The one and only indomie paradise!</p>
		<% if logged_in? %>
			<!-- do nothing -->
		<% else %>
			<p><p style="text-align: center;">
			<%= link_to "Log in", login_path , class: "btn btn-default btn-lg" %>
	    <%= link_to "Sign up", signup_path, class: "btn btn-primary btn-lg" %>
		</p>
		<% end %>
		<p><p style="text-align: center;"><%= link_to "Start Shopping", products_path, class: "btn btn-default btn-lg" %></p>
</div>
