<h1> Products </h1>

<div class="container">
	<% @products.each do |row| %>
		<div class="row">
		<div class="well">
			<div class="row">
				<div class="col-xs-10">
					<%= link_to row["Product_Name"], url_for(:controller => 'products', :action => 'show', :id => row["Product_ID"]) %>
				</div>
				<div class="col-xs-2">
					<%= row["Stock_Qty"] %>
				</div>
			</div>
		</div>
		</div>
	<% end %>
</div>
