<div class="container">
	<div class="col-xs-8">
		<h1>Products</h1>
	</div>
	<div class="col-xs-4">
		<h1>Stock Quantity</h1>
	</div>
</div>

<% if logged_in? %>
<p>
	<%= "Current user = " + $current_user %>
    <%= link_to "Sign Out", logout_path, method: "delete" %>
</p>
<% end %>

<div class="container">
	<% @products.each do |row| %>
		<div class="row">
		<div class="well">
			<div class="row">
				<div class="col-xs-8">
					<%= link_to row["Product_Name"], url_for(:controller => 'products', :action => 'show', :id => row["Product_ID"]) %>
				</div>
				<div class="col-xs-4">
					<%= row["Stock_Qty"] %>
				</div>
			</div>
		</div>
		</div>
	<% end %>
</div>
